<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Web Intermedia</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/AppCoder/">AppCoder</a>   
                 <!-- <form class="formDataPersona" action="/AppCoder/buscar_empleado/" method="GET">
                    <input type='email' name='email' placeholder="email">
                    
                </form> -->
                <a class="btn btn-primary" href="/AppCoder/buscar_empleado">Buscar persona</a>
                <a class="btn btn-primary" href="/AppCoder/read_administrativos">Ver administrativo</a>
                <a class="btn btn-primary" href="/AppCoder/read_empleados">Ver empleado</a>
                <a class="btn btn-primary" href="/AppCoder/agregar_empresa">Agregar empresa</a>
            </div>
        </nav>


        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-black">
                            <!-- Page heading-->
                            <h1 class="mb-5">Nuestra web Intermedia de Django - CoderHouse</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
       


        <!-- Esto es lo que va a cambiar-->

        {% block contenido %} 
        {% endblock %}
        <!-- Footer-->
        <footer class="footer bg-light">
        </footer>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>